/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .answer {
  background-color: #FFFEE1;
 }

 .container {
  margin: 15px;
 }

label {
  display: block;
  margin-bottom: 10px;

}

#link {
  text-decoration: none;
  color: blue;
}

.bordure {
  border-left: 5px solid lightgrey;
  padding-left: 10px;
}
